.order{
  width: 27%;
  position: fixed;
  bottom: 0;
  right: 0;


  height: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray);

  box-shadow: var(--shadow);

  animation: orderAnimation .3s forwards;
}

.order-header{
  position: relative;
}

.order-header button{
  position: absolute;
  left: -20px;
  top: 20px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: none;

  box-shadow: var(--shadow);
  background-color: var(--gray);
  
}

.order-header button:hover{
  cursor: pointer;
  background-color: var(--purple);
  color: var(--background-color);
}

.finished-order button{
  width: 90%;
  margin: 16px auto 16px auto;

  background-color: vaR(--purple);
  color: var(--white);
  border: none;
}

.open-order-button{
  position: fixed;
  right: 40px;
  bottom: 40px;

  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-radius: 50%;

  border: 1px solid var(--purple);

  box-shadow: var(--shadow);

  transition: background .3s ease;
}

.open-order-button:hover{
  background-color: var(--purple);
  color: var(--background-color);
  cursor: pointer;
}

.order-amount {
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
}

.order-amount span {
  font-weight: 700;
}

.order-list-body{

  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;

  overflow-y: scroll;
  height: 100%;
  width: 100%; 
}

.order-list-body::-webkit-scrollbar {
  width: 5px;
  background-color: var(--white);
}

.order-list-body::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 8px;
  width: 30%;
  height: .2rem;
}


.order-list-body .product-card{
  height: fit-content;
}

@keyframes orderAnimation {
  0% {
    bottom: -250px;
  }
  50% {
    bottom: -125px;
  }

  75%{
    bottom: -75px;
  }

  100% {
    bottom: 0;
  }
}

.clear-order {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.clear-order:hover{
  cursor: pointer;
  color: var(--red);
}