.product-card{
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 3px dotted var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow);
  gap: 16px;
  position: relative;
}

.product-header{
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
}

.product-header img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.product-body{
  display: flex;
  flex-direction: column;
}

.product-body span{
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color-2);
}

.product-body span span{
  font-weight: 400;
}

.product-body .product-left{
  display: flex;
  flex-direction: column;
}

.product-option{
  position: absolute;
  width: 150px;
  padding: 8px;
  height: auto;

  box-shadow: var(--shadow);
  border-radius: 8px;
  border: 1px solid var(--gray);
  right: -20px;
  top: 35px;

  display: flex;
  flex-direction: column;  
}

.product-option button, .product-option a{
  border: 0;
  outline: none;
  background-color: #ffffff9b;
  font-size: 1.6rem;
  color: var(--text-color-1);
  padding: 8px 0;

  transition: all .3s ease;
  text-align: center;
}

.product-option button:hover, .product-option a:hover{
  cursor: pointer;
  background-color: var(--purple);
  border-radius: 8px;
  color: var(--white);
}